<head>
  <title>
    Bookmarker  
  </title>
</head>

<body>

  <% flash.keys.each do |type| %>
    <div data-alert class="flash <%= type %> alert-box radius">
      <%= flash[type] %>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>

  <form action="/bookmarks/new" method="POST">
    <label for="url">Enter a url to save:</label>
    <input type="text" name='url'>
    <label for="title">URL title:</label>
    <input type="text" name='title'>
    <input type="submit" value="Save URL">
  </form>

  <form action="/bookmarks" method="get">
    <input type="submit" value="Show Bookmarks">
  </form>
</body>
